.portfolio-items {
    margin-top: 2rem;
}

.portfolio-single {
    padding-top: 2.5rem;
    .breadcrumbs {
        margin-bottom: 1rem;
        color: #fff;
        transition: all 0.3s ease-in-out;
    }
    .content {
        margin-top: 1rem;
    }
}