.statistics {
	.highest-three {
		margin: 2rem auto;
	}
	.card {
		.title {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.5rem;
			&:before,
			&:after {
				font-size: 3rem;
				margin-top: -.2rem;
			}
			&:before {
				content: '{';
				margin-right: .5rem;
			}
			&:after {
				content: '}';
				margin-left: .5rem;
			}
		}
	}
	.language-small {
		margin: .5rem 1rem;
		.name {
			text-decoration: underline;
		}
	}
}